
@model ASPProizvodiApp.Models.ViewModels.ProizvodViewModel


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Izmeni</title>
</head>
<body>
    <h2>Izmeni @Model.Naziv</h2>
    <a href="/">Pocetna</a>
    <hr /><br />

    <section id="validacija">
        @Html.ValidationSummary()
    </section>

    <form action="/db/proizvodi/izmeni" method="post">

        @Html.AntiForgeryToken()

        <label for="Naziv">Naziv</label><br />
        @Html.TextBoxFor(m => m.Naziv)
        <br /><br />
        <label for="Opis">Opis</label><br />
        @Html.TextBoxFor(m => m.Opis)
        <br /><br />
        <label for="Kategorija">Kategorija</label><br />
        @Html.TextBoxFor(m => m.Kategorija)
        <br /><br />
        <label for="Proizvodjac">Proizvodjac</label><br />
        @Html.TextBoxFor(m => m.Proizvodjac)
        <br /><br />
        <label for="Dobavljac">Dobavljac</label><br />
        @Html.TextBoxFor(m => m.Dobavljac)
        <br /><br />
        <label for="Cena">Cena</label><br />
        @Html.TextBoxFor(m => m.Cena, new { @type = "number" })

        <br /><br />
        <button type="submit">Sacuvaj izmene</button>

    </form>

</body>
</html>
